=form_for resource, :as => resource_name, :url => registration_path(resource_name), method: :post, html: { class: "form-signin" } do |f|
  = devise_error_messages!
  %h1 Реєстрація нового користувача
  .form-group
    = label_tag 'Прізвище', nil, class: 'small_label'
    = f.text_field :first_name,  class: "form-control"
  .form-group
    = label_tag 'Ім’я', nil, class: 'small_label'
    = f.text_field :last_name,  class: "form-control"
  .form-group
    = label_tag 'По батькові', nil, class: 'small_label'
    = f.text_field :surname,  class: "form-control"
  .form-group#email-validate
    #email_massage_error.text-danger
    = label_tag 'Еmail', nil, class: 'small_label'
    = f.text_field :email,  class: "form-control"
    %span
  .form-group
    = label_tag 'Пароль', nil, class: 'small_label'
    = f.password_field :password,  class: "form-control"
  .form-group
    = label_tag 'Підтвердження паролю', nil, class: 'small_label'
    = f.password_field :password_confirmation,  class: "form-control"
  .form-group
  = button_tag :Зареєструватись, :class => "btn btn-success"
