%h2>Відновлення паролю

= form_for(resource, :as => resource_name, :url => '/users/password', :class => "form-signin row login-form", :html => { :method => :post }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :"Введіть_email:", :class => 'small_label'
    = f.email_field :email, :class => "form-control" ,:autofocus => true
  = f.submit "Надіслати мені відновлений пароль", :class => "btn btn-primary btn-block"
