!!!
%html{"ng-app" => "Expertise"}
  %head
    %title= @page_title or "Page Title"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "expertise", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "font-awesome.min", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    :css
      #{yield :stylesheets}
  %body
    = render partial: 'layouts/header'
    %div{"ng-view" => ""}
    = javascript_include_tag "expertise", media: "all", "data-turbolinks-track" => true
