= form_for @expertize do |f|
  - if @expertize.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expertize.errors.count, "error")} prohibited this expertize from being saved:"
      %ul
        - @expertize.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
